Package: iplog
Version: 2.2.3-2
Architecture: amd64
Maintainer: Luca Memini <luca@cuore.org>
Installed-Size: 142
Depends: libc6 (>= 2.14), libpcap0.8 (>= 0.9.8)
Section: net
Priority: optional
Description: TCP/UDP/ICMP protocol logger
 This is a program that will log all TCP/UDP connections. It is
 an excellent tool for monitoring your machines.  It comes with
 an advanced conf file that allows you to determin what and wh-
 ere you you wish to log.
 With passive OS fingerprinting patch (p0f, tcp only).
